@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
body {
  box-sizing: border-box;
  background-color: teal;
  font-size: 1.3rem;
  font-family: 'Caveat', cursive;
  margin: 0;
}

main {
  display: flex;
}

/* Project sections */
.project-display-container {
  width: 40%;
  padding: 40px;
  height: 100vh;
  background-color: #00aeae;
}

.project-add-container {
  margin: 50px 0 30px 0;
}

.project-container {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 10px 0;
}

.project-title {
  margin: 0 20px;
  cursor: pointer;
}

.project-add-input {
  width: 70%;
  height: 20px;
}

.project-add-btn {
  cursor: pointer;
  background-color: #fff;
  padding: 1rem;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 45px;
}

.project-add-btn:hover {
  border-color: rgba(255, 255, 255, 1);
}

.current {
  border-bottom: 2px solid #fff;
}

/* Todo Add button */

.add-todo-btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  font-size: 34px;
}

.add-container {
  padding: 15px;
  border: 1px solid #000;
}

/* todo section */

.todo-display-container {
  padding: 50px;
  width: 100%;
}

.todo-container {
  display: flex;
  align-items: center;
  margin: 18px 0;
  width: 100%;
}

.todo-container > div {
  margin: 0 10px;
}

.priority-display {
  margin: 0 10px 0 5px;
}

.todo-container > button {
  width: 80px;
}

.finish-btn {
  margin-left: 3rem;
}

.done {
  text-decoration: line-through;
}

.btn {
  font-size: 1.2rem;
  padding: 8px;
  margin: 0 5px;
  background-color:#fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Caveat', cursive;
  text-align: center;
}

/* popup display section */
.popup-display-container {
  width: 100%;
  height: 100%;
  margin: 80px 20px;
  background-color: yellow;
}

/* Toggle */

.close-btn {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  left: 350px;
  bottom: 65px;
}

.input-container {
  margin: 10px 0;
  font-size: 1.4rem;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 0 10px 5px;
}

input[type="text"] {
  width: 80%;
  font-size: 0.9em;
  border-radius: 7px;
  padding-top: 0.5rem;
}

.add-btn {
  background-color: #fff;
  border-radius: 45px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 15px;
  font-size: 1.3rem;
}
